.layout {
	float:left;
	padding:15px;
	border: solid 1px #6262c2;
	border-radius: 5px;
}

.layout #grid{
	margin-left:0;
}

#create-new, #sort, #grid, #list, #move-item {
	float:right;
	padding: 5px 15px;
	outline: none;
	border: none;
	border-radius: 5px;
	background-color: #c46019;
	color: #fff; 
	margin-left:10px;
}

#grid.chencked, #list.chencked, #sort.chencked, #move-item.chencked {
	background-color:#1a1a4f;
}

#sort, #move-item {
	background-color: #6262c2;
}

main section.users {
	margin:15px 0;
}

main>div>p {
	font-weight: bold;
}